<div class="app-wrapper">

  <header>
    <div class="header-content">

      <div class="left">
        ProjectX
      </div>

      <div class="right">
        <!-- Modern Angular: Calling signal with () -->
        @if (isAuthenticated()) {
          <ul>
            <!-- <li><i class="material-icons">person</i></li> -->
            <li (click)="logOut()"><i class="material-icons">logout</i></li>
          </ul>
        }
      </div>

    </div>
  </header>

  <main [@routeAmin]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>

  <footer>
    <app-tabs></app-tabs>
  </footer>

  <app-notification></app-notification>

</div>
