<div class="add-todo-wrapper container has-blur-white-bg">
    <h3 class="is-bold">New Todo</h3>
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <div class="form-field">
            <input name="text" ngModel required minlength="3" #textField="ngModel" class="textbox" type="text" placeholder="Enter todo title...">
            <ng-container *ngIf="textField.invalid">
                <p>Please enter a todo title</p>
            </ng-container>
        </div>
        <div class="buttons-container">
            <a routerLink="../" class="btn">Cancel</a>
            <button class="btn align-end" [disabled]="textField.invalid">Create</button>
        </div>
    </form>
</div>
