<div class="manage-bookmarks-wrapper">
  <div class="container manage-bookmarks-container">
    <div class="sidebar has-black-background">
      <p class="sidebar-heading">Your Bookmarks</p>

      <div class="sidebar-items">
        @for (bookmark of bookmarks$ | async; track bookmark) {
          <a
            [routerLink]="bookmark.id.toString()"
            routerLinkActive="selected"
          class="sidebar-item">{{bookmark.name}}</a>
        }
      </div>
    </div>

    <div class="content has-blur-white-bg">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
