<div class="add-note-wrapper container has-blur-hite-bg">
    <h3 class="is-bold">New Note</h3>
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <div class="form-field">
            <input name="title" ngModel required minlength="3" #titleField="ngModel" class="textbox" type="text" placeholder="Enter note title...">
            <ng-container *ngIf="titleField.invalid">
                <p>Please enter a note title</p>
            </ng-container>
        </div>
        <div class="form-field">
            <textarea name="content" ngModel class="textarea" placeholder="Add note content..."></textarea>
        </div>
        <div class="buttons-container">
            <a routerLink="../" class="btn">Cancel</a>
            <button class="btn align-end" [disabled]="titleField.invalid">Create</button>
        </div>
    </form>
</div>