<div class="notes-wrapper">
    <div class="container">
        <div class="notes-list">
            <div class="note-card has-hovered-black-background" *ngFor="let note of notes">
                <div class="note-card-title">{{ note.title }}</div>
                <div class="note-card-content">{{ note.content }}</div>
            </div>
        </div>

        <div class="buttons-container buttons-centered">
            <button
                class="btn add-btn"
                type="button"
                (click)="onAdd()"
            >
                <i class="material-icons-outlined">add</i>
            </button>
        </div>

    </div>
</div>
