.edit-todo-wrapper {
    padding: 25px;
    border-radius: 5px;
    max-height: 100%;
    overflow: auto;
}

.edit-todo-wrapper input {
    margin-top: 10px;
}

.form-field{
    margin-bottom: 15px;
}