.tabs {
  display: flex;
  flex-direction: row;
  gap: 13px;
  background-color: rgba(white, 0.25);
  backdrop-filter: blur(3px);
  border-radius: 12px;
  padding: 10px;
  margin: 12px;
  margin-top: 30px;
}

.tab {
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.tab-tile {
  display: flex;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s;

  i {
    color: #222;
    font-size: 20px;
  }
}

.tab.selected {
  outline: none;
}

.tab.selected .tab-tile {
  transform: translateY(-40%);
  transition-timing-function: cubic-bezier(0, 0, 0, 2);
}

// STYLES FOR THE TAB TILE BACKGROUND 'SHAPE'

.tab-tile::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #d2cdff, #5fffbc);
  border-radius: 10px;
  transition: all 0.1s;
  opacity: 0.9;
}

.tab-tile:hover::before {
  opacity: 1;
  transform: scale(1.1);
}

.tab.selected .tab-tile::before {
  border-radius: 50%;
  opacity: 1;
}


// STYLES FOR THE UNDERLINE EFFECT

.tab::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
  height: 3px;
  width: 50%;
  border-radius: 2px;
  background-color: rgba(white, 0.9);
  transition: all 0.3s;
  opacity: 0;
  transform: scaleX(0);
}

.tab.selected::after {
  opacity: 1;
  transform: scaleX(1);
  transition-delay: 0.2s;
}