<div class="container has-blur-white-bg">
    <h3 class="is-bold">{{config?.title}}</h3>

    <div *ngIf="config">
        <form [formGroup]="form">
           <div *ngFor="let control of visibleControls" [ngSwitch]="control.controlType" class="form-control">

                <label for="control.key">{{ control.label }}</label>

                <div *ngSwitchCase="controlTypes.input">
                    <input
                        class="textbox"
                        [id]="control.key"
                        [type]="fieldTypes[control.fieldType]"
                        [formControlName]="control.key">
                </div>

                <div *ngSwitchCase="controlTypes.textarea">
                    <textarea
                        class="textarea"
                        [id]="control.key"
                        [formControlName]="control.key">
                    </textarea>
                </div>

           </div>

           <div class="buttons-container">
            <ng-container *ngFor="let button of config.buttons" [ngSwitch]="button.type" >
                <button *ngSwitchCase="buttonTypes.submit"
                    type="submit"
                    class="btn"
                    [class.align-end]="button.alignEnd"
                    [disabled]="form.invalid"
                    (click)="button.onClick?.(form.value)"
                >{{button.label}}</button>

                <button *ngSwitchCase="buttonTypes.button"
                    type="button"
                    class="btn"
                    [class.align-end]="button.alignEnd"
                    (click)="button.onClick?.(form.value)"
                >{{button.label}}</button>

                <a *ngSwitchCase="buttonTypes.link"
                    class="btn"
                    [class.align-end]="button.alignEnd"
                    routerLink="{{button.linkUrl}}"
                >{{button.label}}</a>

            </ng-container>
           </div>

        </form>
    </div>
</div>
