<div class="form-wrapper">
  @if (config) {
    <div class="container form-container has-blur-white-bg">
      <h3 class="is-bold">{{config.title}}</h3>

      @if (form) {
        <form [formGroup]="form">
           @for (control of visibleControls; track control.key) {
             <div class="form-control">

                  <label [for]="control.key">{{ control.label }}</label>

                  @switch (control.controlType) {
                    @case (controlTypes.input) {
                      <div>
                          <input
                              class="textbox"
                              [id]="control.key"
                              [type]="fieldTypes[control.fieldType]"
                              [formControlName]="control.key">
                      </div>
                    }
                    @case (controlTypes.textarea) {
                      <div>
                          <textarea
                              class="textarea"
                              [id]="control.key"
                              [formControlName]="control.key">
                          </textarea>
                      </div>
                    }
                  }

             </div>
           }

           <div class="buttons-container">
            @for (button of config.buttons; track button.label) {
              <ng-container>
                  @switch (button.type) {
                    @case (buttonTypes.submit) {
                      <button
                          type="submit"
                          class="btn"
                          [class.align-end]="button.alignEnd"
                          [disabled]="form.invalid"
                          (click)="button.onClick?.(form.value)"
                      >{{button.label}}</button>
                    }
                    @case (buttonTypes.button) {
                      <button
                          type="button"
                          class="btn"
                          [class.align-end]="button.alignEnd"
                          (click)="button.onClick?.(form.value)"
                      >{{button.label}}</button>
                    }
                    @case (buttonTypes.link) {
                      <a
                          class="btn"
                          [class.align-end]="button.alignEnd"
                          routerLink="{{button.linkUrl}}"
                      >{{button.label}}</a>
                    }
                  }
              </ng-container>
            }
           </div>

        </form>
      }
    </div>
  }
</div>

