<div class="add-note-wrapper container has-blur-hite-bg">
    <h3 class="is-bold">New Note</h3>
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <input ngModel name="title" class="textbox" type="text" placeholder="Enter note title...">
        <textarea ngModel name="content" class="textarea" placeholder="Add note content..."></textarea>
        <div class="buttons-container">
            <a routerLink="../" class="btn">Cancel</a>
            <button class="btn align-end">Create</button>
        </div>
    </form>
</div>