/* You can add global styles to this file, and also import other style files */

@use './style-variables' as vars;

@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato:wght@100&display=swap');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined|Material+Icons');

html, body {
  height: 100%;
  color: #222;
}

html {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h1.is-bold,
h2.is-bold,
h3.is-bold {
  font-weight: bold;
  letter-spacing: -2px;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  border-radius: 5px;
  max-height: 100%;
  overflow: auto;
}

.container::-webkit-scrollbar {
	width: 8px;
}

.container::-webkit-scrollbar-track {
	background: vars.$background-black;
  backdrop-filter: blur(2px);
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
	background-color: vars.$text-color-white;
  border-radius: 10px;
}

.has-blur-white-bg {
  background: vars.$background-white;
  backdrop-filter: blur(2px);
}

.has-black-background {
  background: vars.$background-black;
  color: vars.$text-color-white;
  transition: 0.1s;
}

.has-hovered-black-background {
  @extend .has-black-background;

  &:hover {
    background-color: vars.$background-black-hover;
    color: vars.$text-color-white-hover;
  }
}

.btn {
  display: inline-flex;
  padding: 10px 15px;
  background: vars.$background-black;
  align-items: center;

  color: vars.$text-color-white;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;

  border: none;
  border-radius: 4px;

  cursor: pointer;

  &:not([disabled]):hover {
    background: vars.$background-black-hover;
    backdrop-filter: blur(2px);
  }

  &:disabled {
    opacity: 0.5;
  }

  &:not([disabled]):active {
    background: rgba(black, 0.88);
  }
}

.add-btn a {
  text-decoration: none;
}

.buttons-container {
  display: flex;
  gap: 15px;
  margin-top: 15px;

  &.buttons-centered {
    justify-content: center;
  }

  .align-end {
    margin-left: auto;
  }
}

.textbox,
.textarea {
  font-size: 18px;
  font-family: inherit;
  width: 100%;
  padding: 5px 10px;
  background: rgba(white, 0.7);
  border: 2px solid rgba(black, 0.3);
  border-radius: 4px;

  &:hover {
    background: rgba(white, 0.9);
    border-color: rgba(black, 0.42);
  }

  &:focus {
    background: white;
    outline: none;
    border-color: rgba(black, 0.42);
  }
}

.textarea {
  resize: vertical;
  min-height: 100px;
}
