.bookmark-tile {
    width: 80px;
    height: 80px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 5px;

    gap: 10px;
    cursor: pointer;

    &:active {
        background: rgba(black, 0.75);
        transform: translateY(3px);
        transition-duration: 0s;
    }
}

.bookmark-tile img {
    max-width: 30px;
}

.tile-text {
    font-size: 14px;

    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
}

.tile-icon.error {
  background: rgba(45, 48, 53, 0.7);
  color: white;
  border-radius: 50%;
  font-weight: 600;
}
